# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Model Files
public/models/gliner_multi_pii-v1/
public/models/gliner_multi_pii-v1/*

# Ignore Workers
public/pdf.worker.min.mjs

# Ignore Docs from the GLiNER.js project
DOCS
src/assets/pdf.worker.min.mjs

# unrestricted Mode Passwort Hash
.env.local
